{% load staticfiles %}
	    <form class="form-horizontal form-titles jumbotron login-panel" action="{% url 'group:reset_password' %}" method="post"> 
          {% csrf_token %}
          {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
            
          <fieldset>
            <legend>Enter the register email id</legend>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email</label>
              <div class="col-lg-9">
                <input type="text" name="email"class="form-control" required placeholder="email id" value="{{ email }}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-warning">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
