{% load staticfiles %}
<br/><br/><br/><br>
                {% block content %}
                <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <h4>{{ state }}</h4>

				<form class="form-horizontal" action="{% url 'group:create_group' %}" method="post">
				  {% csrf_token %}
				  {% if next %}
						<input type="hidden" name="next" value="{{ next }}" />
				  {% endif %}
						
				  <fieldset>
				    <legend>Fill Group details</legend>
				    <div class="form-group">
				      <!-- <label class="col-lg-2 control-label">Group Name</label> -->
				      <div class="col-lg-10">
				        <input type="text" name="group_name"class="form-control" required placeholder="Group Name" value="{{ group_name }}">
				      </div>
				    </div>
				    <div class="form-group">
				      <!-- <label  class="col-lg-2 control-label">Organization / College</label> -->
				      <div class="col-lg-10">
				        <input type="text" name="org_name" required class="form-control"  placeholder="Organization / College" value="{{org_name}}">
				      </div>
				    </div>
				    <div class="form-group">
				      <div class="col-lg-10 ">
				        <button type="reset" class="btn btn-default">Cancel</button>
				        <button type="submit" class="btn btn-warning">Submit</button>
				      </div>
				    </div>
				  </fieldset>
				</form>
			</div>
		</div>
				{% endblock %}	