{% load staticfiles %}
<div id="footer" class="container">
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center text-center">
            </br>
            <div class="row text-muted credit ">
              <div class="col-md-3"> Team | Terms | Privacy | Contact | Help </div>
            	<div class="col-md-6"> </div>
            	<div class="col-md-3"> Facebook | Twitter | Google+  </div>
            
            </div>  
        </div>
      </nav>
    </div>
